<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoundPackCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SoundPackCreator.Properties.Settings>
            <setting name="OpenSoundFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenPackFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePackFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AllGamePath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="GameFilePath" serializeAs="String">
                <value />
            </setting>
        </SoundPackCreator.Properties.Settings>
    </userSettings>
</configuration>